In [22]:
bool(1)

True

In [20]:
bool('')

False

In [9]:
    if 2 in my_list:
a=6
if a>5:
    print('True')
else:
    print('False')

True

In [7]:
a=4
if a<5:
    print('True')
else:
    print('False')

True

In [23]:
a=5
if a==5:
    print('True')
else:
    print('False')

True

In [26]:
a=4
if a>5:
    print('True')
else:
    print('False')

False

In [25]:
a=6
if a<5:
    print('True')
else:
    print('False')

False

In [24]:
a=6
if a==5:
    print('True')
else:
    print('False')

False

In [28]:
a=6
if a>5 and a>=5:
    print('True')
else:
    print('False')

True

In [30]:
a=4
if a<5 or a<=5:
    print('True')
else:
    print('False')

True

In [34]:
a=5
if not a==6:
    print('True')
else:
    print('False')

True

In [35]:
a=4
if a>5 and a>=5:
    print('True')
else:
    print('False')

False

In [36]:
a=6
if a<5 or a<=5:
    print('True')
else:
    print('False')

False

In [41]:
a=6
if not a==6:
    print('True')
else:
    print('False')

False

In [42]:
if 1 in [1,2,3]:
    print('True')
else:
    print('False')

True

In [46]:
if 'a' in ['b','c','d']:
    print('True')
else:
    print('False')

False

In [1]:
my_list = [0,1,2,3,4,5]
my_sum = 0
for k in my_list:
    my_sum = my_sum + k
print(my_sum)

15

In [3]:
my_list = [0,1,2,3,4,5]
my_sum = 0
for k in my_list:
    if k % 2 == 0:
        my_sum = my_sum + k
print(my_sum)

6

In [4]:
for k in range(11):
    print(k)

0
1
2
3
4
5
6
7
8
9
10

In [5]:
for k in range(11):
    if k <= 3:
        print(k)

0
1
2
3

In [7]:
for k in range(11):
    if k != 3:
        continue
    print(k)

3

In [9]:
my_str = 'okinawa'
for k in my_str:
    print(k)

o
k
i
n
a
w
a

In [16]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for k in my_list:
    print(k.upper())

OKINAWA
TOKYO
OSAKA
FUKUOKA
HOKKAIDO

In [17]:
my_list = ['okinawa','tokyo','osaka','fukuoka','hokkaido']
for k in my_list:
    for l in k:
        print(l)

o
k
i
n
a
w
a
t
o
k
y
o
o
s
a
k
a
f
u
k
u
o
k
a
h
o
k
k
a
i
d
o

In [18]:
a=0
while a < 10:
    print(a)
    a=a+1

0
1
2
3
4
5
6
7
8
9